<div th:fragment="category(parent)" th:if="${user}" class="border rounded-3 p-3">
	<form method="POST" th:action="@{/create-category}" th:object="${categoryForm}" id="categoryForm" class="row g-2 mb-0">
		<input type="hidden" th:value="${parent != null} ? ${parent.id}" th:name="parentCategoryId"/>
		<div class="form-floating">
			<select class="form-select" name="type" id="type">
				<option value="DIRECTORY" th:text="#{forms.category.type.directory}"></option>
				<option value="POST" th:text="#{forms.category.type.post}"></option>
			</select>
			<label for="type" th:text="#{forms.category.type}"></label>
		</div>
		<div class="form-floating">
			<input class="form-control" th:field="*{title}" th:placeholder="#{forms.category.title}" autocomplete="off"/>
			<label for="title" th:text="#{forms.category.title}"></label>
			<div class="alert alert-danger" th:errors="*{title}"></div>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-outline-primary w-100" th:value="#{forms.category.submit}"/>
		</div>
	</form>
</div>
