<div th:fragment="changePassword(user)">
	<form method="POST" th:action="@{/users-cp}" th:object="${changePasswordForm}" id="changePasswordForm" class="row g-3">
		<input type="hidden" th:value="${user.id}" th:name="userId"/>
		<div th:replace="forms/passwordInput(*{password}, 'password', #{forms.changePassword.password}, '')"></div>
		<div th:replace="forms/passwordInput(*{newPassword}, 'newPassword', #{forms.changePassword.newPassword}, '')"></div>
		<div th:replace="forms/passwordInput(*{confirmPassword}, 'confirmPassword', #{forms.changePassword.confirmPassword}, '')"></div>
		<div class="form-group">
			<input type="submit" class="btn btn-outline-primary w-100" th:value="#{forms.changePassword.submit}"/>
		</div>
	</form>
</div>
