<div th:fragment="changePassword(user)">
	<form method="POST" th:action="@{/users-cp}" th:object="${changePasswordForm}" id="changePasswordForm" class="row-cols-1 border rounded-3 p-3">
		<input type="hidden" th:value="${user.id}" th:name="userId"/>
		<div class="form-group mb-3">
			<label for="password" class="form-label" th:text="#{forms.changePassword.password}"></label>
			<input type="password" th:field="*{password}" class="form-control" placeholder="Password"></input>
			<div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></div>
		</div>
		<div class="form-group mb-3">
			<label for="newPassword" class="form-label" th:text="#{forms.changePassword.newPassword}"></label>
			<input type="password" th:field="*{newPassword}" class="form-control" placeholder="New password"></input>
			<div th:if="${#fields.hasErrors('newPassword')}" class="alert alert-danger" th:errors="*{newPassword}"></div>
		</div>
		<div class="form-group mb-3">
			<label for="confirmPassword" class="form-label" th:text="#{forms.changePassword.confirmPassword}"></label>
			<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm password"></input>
			<div th:if="${#fields.hasErrors('confirmPassword')}" class="alert alert-danger" th:errors="*{confirmPassword}"></div>
		</div>
		<input type="submit" class="btn btn-outline-primary" th:value="#{forms.changePassword.submit}"/>
	</form>
</div>
