<div th:fragment="changePassword(user)" class="border rounded-3 p-3">
	<form method="POST" th:action="@{/users-cp}" th:object="${changePasswordForm}" id="changePasswordForm" class="row g-2 mb-0">
		<input type="hidden" th:value="${user.id}" th:name="userId"/>
		<div class="form-floating">
			<input class="form-control" type="password" th:field="*{password}" th:placeholder="#{forms.changePassword.password}"/>
			<label for="password" th:text="#{forms.changePassword.password}"></label>
			<div class="alert alert-danger" th:errors="*{password}"></div>
		</div>
		<div class="form-floating">
			<input class="form-control" type="password" th:field="*{newPassword}" th:placeholder="#{forms.changePassword.newPassword}"/>
			<label for="newPassword" th:text="#{forms.changePassword.newPassword}"></label>
			<div class="alert alert-danger" th:errors="*{newPassword}"></div>
		</div>
		<div class="form-floating">
			<input class="form-control" type="password" th:field="*{confirmPassword}" th:placeholder="#{forms.changePassword.confirmPassword}"/>
			<label for="confirmPassword" th:text="#{forms.changePassword.confirmPassword}"></label>
			<div class="alert alert-danger" th:errors="*{confirmPassword}"></div>
		</div>
		<div class="form-group mt-3">
			<input type="submit" class="btn btn-outline-primary w-100" th:value="#{forms.changePassword.submit}"/>
		</div>	
	</form>
</div>
