<div th:fragment="post(category)">
	<div class="page-header">
		<h1 th:text="#{forms.post.header}"></h1>
	</div>
	<form method="POST" th:action="@{/create-post}" th:object="${postData}" id="createpost" class="row g-3">
		<input type="hidden" th:value="${activeCafe.id}" th:name="cafeId"/>
		<input type="hidden" th:value="${category.id}" th:name="categoryId"/>
		<div th:replace="forms/textInput(*{title}, 'title', #{forms.post.title}, '')"></div>
		<div th:replace="forms/textAreaInput(*{contents}, 'contents', #{forms.post.contents}, '')"></div>
		<div class="form-group">
			<input type="submit" class="btn btn-outline-primary w-100" th:value="#{forms.post.submit}"/>
		</div>
	</form>
</div>
