<div th:fragment="blogs(category)">
	<div class="page-header" th:if="${category != null}">
		<h1 th:text="${category.data.name}"></h1>
		<hr/>
	</div>
	<div th:if="${user != null} AND ${category != null}">
		<div th:replace="forms/blog(${category})"></div>
		<hr/>
	</div>
	<div class="page-header">
		<h1 th:text="#{fragments.blogs.header}"></h1>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th th:unless="${category}" th:text="#{fragments.blogs.category}"></th>
				<th th:text="#{fragments.blogs.id}"></th>
				<th th:text="#{fragments.blogs.title}"></th>
				<th th:text="#{fragments.blogs.createdAt}"></th>
				<th th:text="#{fragments.blogs.author}"></th>
				<th th:text="#{fragments.blogs.viewCount}"></th>
				<th th:text="#{fragments.blogs.likeCount}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="blog : ${blogList}">
				<td th:text="${blog.category.data.name}" th:unless="${category}"></td>
				<td th:text="${blog.id}"></td>
				<td>
					<a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.data.title}"></a>
				</td>
				<td th:text="${#temporals.format(blog.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
				<td>
					<a th:href="@{/users/{id}(id=${blog.user.id})}" th:text="${blog.user.username}"></a>
				</td>
				<td th:text="${blog.viewCount}"></td>
				<td th:text="${blog.likeCount}"></td>
			</tr>
		</tbody>
	</table>
	<nav class="d-flex justify-content-center">
		<ul class="pagination" th:with="category_id=${activeCategory != null} ? ${activeCategory.id} : null">
			<li class="page-item me-2"><a class="page-link" th:with="p=${blogFirstPage}" th:href="@{/(page=${p.pageNumber},size=${p.pageSize},category=${category_id})}" th:text="#{fragments.blogs.firstPage}"></a></li>
			<li class="page-item"><a class="page-link" th:with="p=${blogPrevPage}" th:href="@{/(page=${p.pageNumber},size=${p.pageSize},category=${category_id})}" th:text="#{fragments.blogs.nextPage}"></a></li>
			<li class="page-item"><a class="page-link" th:with="p=${blogNextPage}" th:href="@{/(page=${p.pageNumber},size=${p.pageSize},category=${category_id})}" th:text="#{fragments.blogs.prevPage}"></a></li>
		</ul>
	</nav>
</div>
