<div th:fragment="blogs(category)">
	<div class="page-header" th:if="${category}">
		<h1 th:text="${category.data.name}"></h1>
		<hr/>
	</div>
	<div th:if="${user} AND ${category}">
		<div th:replace="forms/blog(${category})"></div>
		<hr/>
	</div>
	<div class="page-header">
		<h1>블로그 목록</h1>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th th:unless="${category}">분류</th>
				<th>ID</th>
				<th>제목</th>
				<th>작성일</th>
				<th>작성자</th>
				<th>조회수</th>
				<th>좋아요</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="blog : ${blogList}">
				<td th:text="${blog.category.data.name}" th:unless="${category}"></td>
				<td th:text="${blog.id}"></td>
				<td>
					<a th:href="@{/blogs/{id}(id=${blog.id})}" th:text="${blog.data.title}"></a>
				</td>
				<td th:text="${blog.createdAt}"></td>
				<td>
					<a th:href="@{/users/{id}(id=${blog.user.id})}" th:text="${blog.user.username}"></a>
				</td>
				<td th:text="${blog.viewCount}"></td>
				<td th:text="${blog.likeCount}"></td>
			</tr>
		</tbody>
	</table>
</div>
