<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="issueFragment">
		<div class="page-header">
			<h1>Issue</h1>
		</div>
		<div th:object="${issue}">
			<div class="input-group mb-2">
				<span class="input-group-text w-25">Date</span>
				<input type="datetime" class="form-control" th:value="*{createdAt}"/>
			</div>
			<div class="input-group mb-2">
				<span class="input-group-text w-25">Summary</span>
				<input type="text" class="form-control" th:value="*{data.summary}"/>
			</div>
			<div class="input-group">
				<span class="input-group-text w-25">Content</span>
				<textarea class="form-control" th:text="*{data.contents}" rows=4></textarea>
			</div>
		</div>
	</div>
</html>