<div th:fragment="members(cafe)" class="bg-white">
	<ul class="list-group">
		<li class="list-group-item" th:each="member : ${cafe.members}">
			<div class="d-flex justify-content-between align-items-center">
				<div class="flex-fill me-2">
					<span th:if="${isOwner}" th:text="${member.greeting}"></span>
					<div class="d-flex justify-content-between">
						<div th:replace="links/user(${member.id.member}, '')"></div>
						<span th:if="${isOwner}" class="text-muted" th:text="${#temporals.format(member.createdAt)}"></span>
					</div>
				</div>
				<div th:if="${isOwner}">
					<div th:replace="modals/yesno('deleteMember'+ ${member.id.member.id}, '강퇴', '[' + ${member.id.member.username}+'] 강퇴하시겠습니까?',@{/expulse-member(memberId=${member.id.member.id})},'btn btn-danger')"></div>
				</div>
			</div>
		</li>
	</ul>
</div>