<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow" th:fragment="nav">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}" th:text="#{fragments.nav.brand}"></a>
		<div class="d-flex flex-row me-auto" th:each="profile : ${activeProfileList}">
			<div class="badge rounded-pill bg-danger me-2" style="border: solid 1px red;" th:if="${profile != null} != 'prod'" th:text="${profile}"></div>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}">Blogs</a>
				</li>
				<li class="nav-item">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown">
						Link
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><hr class="dropdown-divider"/></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul>
			<span class="navbar-text me-2">Navbar text</span>
			<form class="d-flex me me-lg-2 mb-2 mb-lg-0">
				<input class="form-control me-2" type="search" placeholder="Search" />
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
			<div class="d-flex justify-content-end" th:unless="${user}">
				<a class="btn btn-outline-primary w-50 me-2" th:href="@{/login}">Login</a>
				<a class="btn btn-outline-primary w-50" th:href="@{/register}">Register</a>
			</div>
			<form class="d-flex justify-content-end m-0" method="POST" th:if="${user != null}" th:action="@{/logout}" id="logoutForm">
				<a class="navbar-text me-2" th:text="${user.username}" th:href="@{/users/{id}(id=${user.id})}"></a>
				<input type="submit" value="Logout" class="btn btn-outline-primary w-100" />
			</form>
		</div>
	</div>
</nav>

