<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light shadow" th:fragment="nav">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}" th:text="#{fragments.nav.brand}"></a>
		<div class="d-flex flex-row me-auto">
			<div class="badge rounded-pill bg-danger me-2" th:each="profile : ${activeProfileList}" th:if="${profile != 'prod'}" th:text="${profile}"></div>
			<div th:if="${user != null}">
				<div th:replace="links/user(${user}, 'badge rounded-pill me-2 ' + ${user.isAdmin() ? 'bg-primary' : 'bg-secondary'})"></div>
			</div>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item" th:if="${activeCafe != null}">
					<div th:replace="links/cafe(${activeCafe}, 'nav-link')"></div>
				</li>
				<li class="nav-item">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown">
						Link
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><hr class="dropdown-divider"/></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
			</ul>
			<form class="d-flex me me-md-2 mb-2 mb-md-0">
				<input class="form-control me-2" type="search" placeholder="Search" />
				<a class="btn btn-outline-success" th:href="@{/search-cafe}">Search</a>
			</form>
			<div class="d-flex justify-content-end" th:unless="${user}">
				<a class="btn btn-outline-primary w-50 me-2" th:href="@{/login}">Login</a>
				<a class="btn btn-outline-primary w-50" th:href="@{/create-user}">Register</a>
			</div>
			<a class="btn btn-outline-primary" th:if="${user}" th:href="@{/logout}">Logout</a>
		</div>
	</div>
</nav>

