<div th:fragment="posts(category)">
	<div class="page-header" th:if="${category != null}">
		<div class="d-flex justify-content-between align-items-end">
			<h4 th:text="${category.title}"></h4>
			<a class="btn btn-primary" role="button" th:if="${isJoined}" th:href="@{/create-post}" th:text="#{fragments.posts.newPost}"></a>
		</div>
		<hr/>
	</div>
	<div class="page-header">
		<h4 th:text="#{fragments.posts.header}"></h4>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th th:unless="${category}" th:text="#{fragments.posts.category}"></th>
				<th th:text="#{fragments.posts.id}"></th>
				<th th:text="#{fragments.posts.title}"></th>
				<th th:text="#{fragments.posts.createdAt}"></th>
				<th th:text="#{fragments.posts.author}"></th>
				<th th:text="#{fragments.posts.viewCount}"></th>
				<th th:text="#{fragments.posts.likeCount}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="post : ${postPage}">
				<td th:text="${post.category.title}" th:unless="${category}"></td>
				<td th:text="${post.id}"></td>
				<td>
					<div th:replace="links/post(${post}, null)"></div>
				</td>
				<td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
				<td>
					<div th:replace="links/user(${post.user}, null)"></div>
				</td>
				<td th:text="${post.viewCount}"></td>
				<td th:text="${post.likeCount}"></td>
			</tr>
		</tbody>
	</table>
	<nav class="d-flex justify-content-center">
		<ul class="pagination" th:with="category_id=${activeCategory != null} ? ${activeCategory.id} : null">
			<li class="page-item me-2">
				<a class="page-link" th:href="@{/cafe/{cafe}(cafe=${activeCafe.id},category=${category_id})}" th:text="#{fragments.posts.firstPage}"></a>
			</li>
			<li class="page-item" th:classappend="${postPage.first} ? 'disabled'" th:with="p=${postPage.previousOrFirstPageable()}">
				<a class="page-link" th:href="@{/cafe/{cafe}(cafe=${activeCafe.id},page=${p.pageNumber},size=${p.pageSize},category=${category_id})}" th:text="#{fragments.posts.prevPage}"></a>
			</li>
			<li class="page-item" th:classappend="${postPage.last} ? 'disabled'" th:with="p=${postPage.nextOrLastPageable()}">
				<a class="page-link" th:href="@{/cafe/{cafe}(cafe=${activeCafe.id},page=${p.pageNumber},size=${p.pageSize},category=${category_id})}" th:text="#{fragments.posts.nextPage}"></a>
			</li>
		</ul>
	</nav>
</div>
