<div th:fragment="sidebar" class="bg-white">
	<div class="d-flex justify-content-between">
		<span class="h3" th:text="${activeCafe.name}"></span>
		<a class="h4" th:href="@{/get-user/{id}(id=${activeCafe.owner.id})}" th:text="${activeCafe.owner.username}"></a>
	</div>
	<hr/>
	<div th:if="${user != null}">
		<div class="d-flex justify-content-between">
			<a class="h4" th:if="${isJoined == false} AND ${isApproving == false}" th:href="@{/join-cafe}" th:text="#{joinCafe}"></a>
			<div th:if="${isJoined}">
				<a class="h4" th:unless="${activeCafe.owner.id == user.id}" th:href="@{/leave-cafe}" th:text="#{leaveCafe}"></a>
				<span class="h4" th:if="${activeCafe.owner.id == user.id}">Onwer</span>
			</div>
			<div class="d-flex justify-content-between w-100" th:if="${isApproving}">
				<span class="h4">승인대기 중</span>
				<a class="h4" th:href="@{/leave-cafe}">취소</a>
			</div>
			<a class="btn btn-danger" th:if="${activeCafe.owner.id == user.id}" th:href="@{/delete-cafe}" th:text="#{deleteCafe}"></a>
		</div>
	<hr/>
	</div>
	<nav class="navbar navbar-expand-md">
		<button class="navbar-toggler w-100 text-start mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2">
			<i class="bi bi-list" style="font-size: 2rem;" th:text="#{fragments.sidebar.toggle}"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent2">
			<div class="w-100">
				<a class="btn btn-outline-primary text-start w-100 mb-2" th:classappend="${activeCategory == null}? 'active'" th:href="@{/cafe/{cafe}(cafe=${activeCafe.id})}" th:text="#{fragments.sidebar.all}"></a>
				<div th:replace="fragments/categoryList(${categoryList})"></div>
				<div th:if="${user != null} AND ${activeCafe.owner.id == user.id}">
					<div th:replace="forms/category(null)"></div>
				</div>
			</div>
		</div>
	</nav>
</div>