<div th:fragment="sidebar" class="flex-shrink-0 p-3 bg-white">
	<a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
		<svg class="bi me-2" width="30" height="24">
			<use xlink:href="#bootstrap"></use>
		</svg>
		<span class="fs-5 fw-semibold">Blog</span>
	</a>
	<div class="overflow-auto">
		<div th:replace="fragments/categoryList(${categoryList})"></div>
	</div>
	<div th:if="${user} AND ${user.isAdmin()}">
		<div th:replace="forms/category(null)"></div>
	</div>
</div>