<html layout:decorate="~{layouts/layout}">
	<div layout:fragment="content">
		<h1 th:text="${blog.category.data.name}"></h1>
		<hr/>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th th:text="#{blogs.id}"></th>
					<th th:text="#{blogs.title}"></th>
					<th th:text="#{blogs.createdAt}"></th>
					<th th:text="#{blogs.author}"></th>
					<th th:text="#{blogs.viewCount}"></th>
					<th th:text="#{blogs.likeCount}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${blog.id}"></td>
					<td th:text="${blog.data.title}"></td>
					<td th:text="${#temporals.format(blog.createdAt)}"></td>
					<td>
						<a th:href="@{/users/{id}(id=${blog.user.id})}" th:text="${blog.user.username}"></a>
					</td>
					<td th:text="${blog.viewCount}"></td>
					<td th:text="${blog.likeCount}"></td>
				</tr>
			</tbody>
		</table>
		<pre class="border rounded-3 p-3" th:text="${blog.data.contents}"></pre>
		<form method="POST" th:action="@{/likeCount}" th:object="${likeCountData}" th:if="${user != null}" id="likeCountForm">
			<input type="hidden" th:value="${blog.id}" th:name="target"/>
			<input type="submit" class="btn btn-outline-primary" th:classappend="${#bools.isFalse(canLike)} ? 'active'" th:value="좋아요"/>
		</form>
		<hr/>
		<div class="page-header">
			<h4 th:text="#{blogs.comment}"></h4>
		</div>
			<hr/>
		<div th:replace="fragments/commentList(${blog.comments})"></div>
		<div class="mt-3" th:if="${user != null}">
			<div th:replace="forms/comment(${blog})"></div>
		</div>
	</div>
</html>