<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="EUC-KR">
	<title>Issue</title>
	<link rel="stylesheet" href="styles.css" />
</head>

<body>
	<h1>Welcome to...</h1>

	<div th:if="${user}">
		<p th:text="|${user.username}: ${user.authorities[0]}|">
		<form method="POST" th:action="@{/logout}" id="logoutForm">
			<input type="submit" value="Logout" />
		</form>
		<hr/>
		<form method="POST" th:action="@{/new_issue}" th:object="${issueData}" id="createIssue">
			<label for="summary">Summary: </label>
			<input type="text" th:field="*{summary}"/>
			<span class="validationError" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}")></span>
			<br />
			<label for="contents">Contents: </label>
			<input type="text" th:field="*{contents}"/>
			<span class="validationError" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}")></span>
			<br />
			<input type="submit" />
		</form>
	</div>
	<div th:unless="${user}">
		<form method="POST" th:action="@{/login}" id="loginForm">
			<label for="username">Username: </label>
			<input type="text" name="username" id="username" /><br />
			<label for="password">Password: </label>
			<input type="password" name="password" id="password" /><br />

			<input type="submit" value="Login" />
		</form>
		<a th:href="@{/register}">Register</a>
	</div>

	<hr/>
	<p>Issue List</p>
	<table>
		<thead>
			<tr>
				<th>Summary</th>
				<th>Contents</th>
				<th>Created At</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="issue : ${issueList}">
				<td th:text="${issue.data.summary}"></td>
				<td th:text="${issue.data.contents}"></td>
				<td th:text="${issue.createdAt}"></td>
				<td th:text="${issue.user.username}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>