<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

	<div layout:fragment="content" class="container-fluid">
		<div class="page-header">
			<h1>Issue Details</h1>
		</div>
		<div th:object="${issue}">
			<div class="input-group">
				<div class="input-group-prepend w-25">
					<span class="input-group-text">Date</span>
				</div>
				<input type="datetime" class="form-control" th:value="*{createdAt}"/>
			</div>
			<div class="input-group">
				<div class="input-group-prepend w-25">
					<span class="input-group-text">Summary</span>
				</div>
				<input type="text" class="form-control" th:value="*{data.summary}"/>
			</div>
			<div class="input-group">
				<div class="input-group-prepend w-25">
					<span class="input-group-text">Content</span>
				</div>
				<textarea type="text" class="form-control" th:text="*{data.contents}" rows=4></textarea>
			</div>
		</div>
		<hr />
		<div class="page-header">
			<h1>Reply List</h1>
		</div>
		<div class="list-group" th:each="reply : ${replyList}" )>
			<div class="list-group-item mb-1">
			<div class="d-flex justify-content-between">
				<h5 class="mb-2" th:text="${reply.user.username}"/>
				<small th:text="${reply.createdAt}"/>
			</div>
			<textarea class="form-control mb-1" th:text="${reply.comment}" readonly/>
			</div>
		</div>
		<hr />
		<form th:if="${user}" method="POST" th:action="@{/reply}" th:object="${replyForm}" id="replyForm" class="row-cols-1">
			<div class="form-group mb-1">
				<label for="comment">New Comment</label>
				<textarea type="text" th:field="*{comment}" class="form-control" autocomplete="off" rows=4/>
				<span class="alert alert-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"/>
			</div>
			<input type="submit" class="btn btn-outline-primary"/>
		</form>
	</div>

</html>