<html layout:decorate="~{layouts/sidebarLayout}">
	<div layout:fragment="content" th:with="isLiked = ${@cafeService.isLiked(activePost, user)}">
		<h1 th:text="${activePost.category.name}"></h1>
		<hr/>
		<span class="text-muted" th:text="${#temporals.format(activePost.createdAt)}"></span>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th th:text="#{posts.id}"></th>
					<th th:text="#{posts.title}"></th>
					<th th:text="#{posts.author}"></th>
					<th th:text="#{posts.viewCount}"></th>
					<th th:text="#{posts.likeCount}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${activePost.id}"></td>
					<td th:text="${activePost.title}"></td>
					<td>
						<div th:replace="links/user(${activePost.user}, null)"></div>
					</td>
					<td th:text="${activePost.viewCount}"></td>
					<td th:text="${activePost.likeCount}"></td>
				</tr>
			</tbody>
		</table>
		<pre class="border rounded-3 p-3" th:text="${activePost.text}"></pre>
		<div class="d-flex justify-content-between align-items-start mb-2">
			<a class="btn btn-outline-primary" th:classappend="${#bools.isTrue(isLiked)} ? 'active'" th:href="@{/toggle-like}" th:text="#{posts.like}"/>
			<div th:if="${user != null}">
				<a class="btn btn-muted" th:if="${activePost.user.id == user.id}" th:href="@{/delete-post(postId=${activePost.id})}" th:text="#{delete}"></a>
			</div>
		</div>
		<div class="page-header">
			<h4 th:text="#{posts.comment}"></h4>
		</div>
			<hr/>
		<div th:replace="fragments/commentList(${activePost.comments})"></div>
		<div class="mt-3" th:if="${user != null} AND ${isJoined}">
			<div th:replace="forms/comment(${activePost})"></div>
		</div>
	</div>
</html>