<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

	<div layout:fragment="content" class="container-fluid">
		<div class="page-header">
			<h1>User Details</h1>
		</div>
		<div class="input-group mb-2">
			<span class="input-group-text w-25">Username</span>
			<input type="datetime" class="form-control" th:if="${selectedUser}" th:value="${selectedUser.username}"/>
		</div>
		<div class="input-group">
			<span class="input-group-text w-25">Role</span>
			<input type="text" class="form-control" th:if="${selectedUser}" th:value="${selectedUser.authorities[0]}"/>
		</div>
	</div>

</html>