<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

	<div layout:fragment="content" class="container-fluid">
		<div class="page-header">
			<h1>User Details</h1>
		</div>
		<div class="input-group">
			<div class="input-group-prepend w-25">
				<span class="input-group-text">Username</span>
			</div>
			<input type="datetime" class="form-control" th:value="${user.username}"/>
		</div>
		<div class="input-group">
			<div class="input-group-prepend w-25">
				<span class="input-group-text">Role</span>
			</div>
			<input type="text" class="form-control" th:value="${user.authorities[0]}"/>
		</div>
	</div>

</html>