<html layout:decorate="~{layouts/navLayout}">
	<div layout:fragment="content">
		<div class="page-header">
			<h1 th:text="#{user.header}"></h1>
		</div>
		<div class="input-group mb-2">
			<span class="input-group-text w-25" th:text="#{user.username}"></span>
			<input type="datetime" class="form-control" th:if="${activeUser != null}" th:value="${activeUser.username}"/>
		</div>
		<div class="input-group">
			<span class="input-group-text w-25" th:text="#{user.role}"></span>
			<div class="form-control">
				<ul class="list-group list-group-flush" th:if="${activeUser != null}" >
					<li class="list-group-item" th:each="authority : ${activeUser.authorities}">
						<span th:text="${authority}"></span>
					</li>
				</ul>
			</div>
		</div>
		<div th:if="${activeUser == user}">
			<hr/>
			<div th:replace="forms/changePassword(${activeUser})"></div>
		</div>
	</div>
</html>